@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    background-color: rgb(27, 27, 27);
    color: rgb(17, 89, 197);
}

.title {
    font-family: 'Roboto';
    font-size: max(30px, 2.5vw);
    color:rgb(210, 216, 223);
    text-align: center;
    margin: 30px;
}

.subTitle {
    font-family: 'Roboto';
    font-size: max(15px, 1.5vw);
    text-align: center;
    color: rgb(210, 216, 223);
    margin: 30px;
}

.subSubTitle {
    font-family: 'Roboto';
    text-align: center;
    font-size: max(13px, 0.9vw);
    color: #5d6b8d;
    margin: 10px;
}

.flexContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flexContainerColInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 300px;
}

.flexContainerColCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    min-width: 260px;
}

.flexContainerColDim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    min-width: 240px;
}

.inputBox {
    resize: none;
    height: 300px;
    white-space: nowrap;
    font-family: 'Roboto Mono';
    color: white;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.cardinalityCheckBoxContainer {
    overflow: auto;
    margin-left: 10px;
    height: 300px;
    font-size: 13px;
    height: 300px;
    white-space: nowrap;
    font-family: 'Roboto Mono';
    color: white;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.dimensionCheckBoxContainer {
    overflow: auto;
    margin-left: 10px;
    height: 300px;
    font-size: 13px;
    height: 300px;
    white-space: nowrap;
    font-family: 'Roboto Mono';
    color: white;
    background-color: rgb(20, 20, 20);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}

.button:enabled {
    background-color: #23386d;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.button:disabled {
    background-color: #393a3e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.button:active:enabled {
    background-color: #393a3e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    transform: scale(0.98);
}

.output:empty {
    white-space: pre-line;
    font-family: 'Roboto Mono';
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    font-size: 13px;
    padding: 0px
}

.output {
    white-space: pre-line;
    font-family: 'Roboto Mono';
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    font-size: 13px;
    padding: 10px;
}